body{
  font-family: Helvetica, serif;
  font-size: 110%;
  background-color: white;
  color: rgb(50, 50, 50);
}
#heading{
  margin: auto;
  width: 600px;
  text-align: center;
  font-size: 200%;
}
#sidebar{
  background-color: white;
  position: fixed;
  top: 200px;
  left: 0px;
  border-radius: 10px;
}
#content{
  position: relative;
  left: 410px;
  width: 900px;
}
#bottom{
  background-color: rgb(240, 240, 240);
  position: relative;
  bottom: 0px;
}
.sidebar_item{
  background-color: white;
  color: rgb(50, 50, 50);
  border: none;
  font-size: 120%;
  transition-duration: 0.3s;
  border-radius: 3px;
  padding: 5px;
}
.sidebar_item:hover{
  background-color: rgb(230, 230, 230);
}
.img{
  border-radius: 10px;
}
.link{
  text-decoration: none;
  color: rgb(50, 50, 120);
  transition-duration: 0.3s;
  border-radius: 3px;
}
.link:hover{
  background-color: rgb(230, 230, 230);
}
#i_we{
  height: 512px;
  width: 682.7px;
  padding: none;
}
#hide_img{
  width: inherit;
  height: inherit;
  border-radius: 3px;
}
#hide_sidebar{
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: relative;
  left: 400px;
  top: -140px;
}
#i_antibiotics{
  width: 649px;
  height: 365px;
}
#como_hicimos_la_pagina_web{
  text-decoration: none;
  color: gray;
}
